$color-aquamarine: #45ffc1;
$color-green: #7fff7c;
$color-blue: #3fe9ff;
$color-lightblue: #76ffed;
$color-red: #ff3f3f;
$color-orange: #ffa53f;
$color-yellow: #fff23f;
$color-gold: #ffdd35;
$color-lavender: #df88ff;
$i-outline: 0.05rem;
$i-outline-spread: 0.25rem;
$i-outline-color: $color-gold;
$gold-shadow: $i-outline-color ($i-outline*(-1)) $i-outline $i-outline-spread, $i-outline-color $i-outline ($i-outline*(-1)) $i-outline-spread, $i-outline-color ($i-outline*(-1)) ($i-outline*(-1)) $i-outline-spread, $i-outline-color $i-outline $i-outline $i-outline-spread;
$cloud-color: rgba(255,255,255,0.5);
$main-color: rgba(255,255,255,0.7);

@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    body{
        font-size: 2vw !important;
    }

    #go-home{
        font-size: 1.5rem !important;
    }
    #go-home i{
        font-size: 1.5rem !important;
    }
    .cloud{
        font-size: 3rem !important;
    }
    .event-card{
        width: 45% !important;
    }
    .footer{
        font-size: 0.5rem !important;
    }
}

html{
    min-height: 100%;
    position: relative;
}

body{
    font-size: 1.15vw;
    background: linear-gradient(to top, $color-green 0% 10% ,$color-lightblue 50% 100%);
    background-size: cover;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    height: 100%;
    width: 100%;
}

header{
    background-color: $color-aquamarine;
    background-image: url("../img/headerimg.png");
    background-size: cover;
    font-family: "Playwrite ES", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-bottom: $color-blue solid 0.4rem;
}

#go-home{
    font-size: 2rem;
    font-weight: 400;
}

@keyframes rotate-wheel{
    0% {transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}

#go-home i{
    font-size: 2.8rem;
    color: black;
    text-shadow: $gold-shadow;
    animation-name: rotate-wheel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#go-home:hover i{
    transition: 800ms;
    color: $color-orange;
    animation-play-state: paused;
}

#go-home:hover{
    font-weight: 800;
    transition: 800ms;
    text-shadow: $gold-shadow;
    cursor: pointer;
}

#menuButton{
    font-weight: 500;
    background-color: $color-lavender;
    border: solid $color-blue 0.5rem;
    transition: 250ms;

}

#menuButton:hover{
    font-weight: 800;
    background-color: $color-gold;
    transition: 250ms;
}

.btn span i{
    opacity: 0;
    font-size: 0;
    transition: 250ms;
}

#menuButton:hover span i{
    font-size: 1.2rem;
}

.btn:hover span i{
    opacity: 1;
    font-size: 1rem;
    transition: 250ms;
}
.navbar{
    background-color: $color-aquamarine;
    border-bottom: $color-blue solid 0.4rem;
}

.navbar-brand{
    font-size: 2rem;
    margin: none;
    text-shadow: $gold-shadow;
    transition: 2s;
}

.navbar-brand:hover{
    color: $color-orange;
    transform: rotateZ(180deg);
    transition: 4s;
}

.navbar{
    padding: 0;
}

.nav-item{
    background-color: $color-yellow;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
    border: $color-blue solid 0.3rem;
    font-size: 0.8rem;
    font-weight: 800;
    font-family: "Playwrite ES", cursive;
    padding-right: 0.4rem;
    transition: 250ms;
}
.nav-item:hover{
    cursor: pointer;
    background-color: $color-green;
    border: $color-blue solid 0.3rem;
    transition: 250ms;
}
.btn.active{
    background-color: $color-orange;
    border: $color-blue solid 0.3rem;
}

.cloud-background{
    position: absolute;
    z-index: -1;
}

@keyframes cloud-animate-right{
    0% {transform: translate(0)}
    50%{transform: translate(20vw);}
    100%{transform: translate(0)}
}
@keyframes cloud-animate-left{
    0% {transform: translate(0)}
    50%{transform: translate(-20vw);}
    100%{transform: translate(0)}
}

.cloud{
    position: absolute;
    color: $cloud-color;
    display: inline-block;
    font-size: 6rem;
}

.cloud-left{
    animation-name: cloud-animate-right;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.cloud-right{
    animation-name: cloud-animate-left;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#cloud1{
    left: 2vw;
    top: 0vw;
    animation-delay: 0s;
}
#cloud2{
    left: 75vw;
    top: 6vw;
    animation-delay: 4s;
}
#cloud3{
    left: 20vw;
    top: 12vw;
    animation-delay: 6s;
}
#cloud4{
    left: 87vw;
    top: 16vw;
    animation-delay: 2s;
}
#cloud5{
    left: 35vw;
    top: 23vw;
    animation-delay: 0s;
}
main{
    z-index: 5;
    background-color: $main-color;
    margin-bottom: 1rem;
}

img{
    display: inline-block;
}

h2{
    font-family: "Playwrite ES", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 1rem;
    text-shadow: $gold-shadow;
}

.carousel-caption{
    background-color: rgba(255,255,255,0.5);
    color:black;
    border-radius: 1rem;
    font-weight: 600;
}

h3{
    font-family: "Playwrite ES", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 1rem;
}

#upcoming-events{
    margin-top: 2rem;
}

.event-card{
    width:22%;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0;
}

.event-card .card-header{
    background-color: $color-blue;
}

.ext-link-btn{
    background-color: $color-lavender;
    font-family: "Playwrite ES", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 1rem;
    border: $color-blue solid 0.3rem;
    transition: 250ms;
}

.ext-link-btn:hover{
    background-color: $color-gold;
    border: $color-blue solid 0.3rem;
    transition: 250ms;
}
.ext-link-btn:hover span i{
    font-size: 1.25rem;
}

#menu-title{
    font-family: "Playwrite ES", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#menu-header{
    background-color: $color-lavender;
}

.menu-item{
    font-size: 0.8rem;
    font-family: "Playwrite ES", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu-desc{
    font-size: 0.6rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.menu-img{
    margin-bottom: 1rem;
}

#disclaimer{
    font-size: 0.75rem;
}

footer{
    border-top: $color-blue solid 0.3rem;
    padding: 1rem;
    background-color: $color-lightblue;
    font-size: 0.8rem;
}

footer ul{
    margin-bottom: 0;
}

footer li{
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer li a{
    text-decoration: none;
    color: black;
    transition: 250ms;
}

footer li a:hover{
    border-bottom: solid $color-gold;
    background-color: $color-blue;
    border-radius: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 250ms;
}